
  * {
    font-family: 'Roboto', sans-serif;
    /* font-size: 1rem; */
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid #f00; */
    /* text-shadow: 6px 1px 5px #969696; */

  }
  
/*   .up-button {
    position: fixed;
    bottom: 200px;
    right: 500px;
    width: 15px;
    cursor: pointer;
    opacity: 0.2;
    z-index: 9000;
  }
  
  .up-button:hover {
    -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
    opacity: 1;
  } 
  
  .up-img {
    width: 55px;
  } */




  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


p {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
a {
  text-decoration: none;
  cursor: pointer;
}
  
html {
  scroll-behavior: smooth;
   
}
  
body {
    background-color: black;
}

.upbtn {
  z-index: 9999;
  width: 100%;
  height: 16px;
  color: #FFF;
  position: fixed;
  bottom: -80px;
  cursor: pointer;
  background: #ff0000;
  transition: all .3s ease-in-out;
}

.upbtn:before {
  content: "";
  transition: all .3s ease-in-out;
  z-index: 9999;
  
  width: 100px;
  height: 100px;
  border: 16px solid #ff0000;
  position:relative;
  bottom:10px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  display:block;
  transform: rotate(45deg);
  background: #FFF;
}

.upbtn:hover {
  height: 20px;
}

.upbtn:hover:before {
bottom:14px;
}



h2 {
  margin: 0;
  padding: 0;
}

.container-main {
 width: 1200px;
 overflow: hidden;
 height: auto;
/* padding: 5px; */
 margin: 0 auto;
 background-color: #252a30;
}

.nav-container {
  width: 100%;
  height: 110px;
}

.logo-car {
  background-image: url(../pic/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 166px;
  transition: all 3s;
   
}

.logo-car:hover {
  transform: rotate(1080deg);
}

.nav-top {
  width: 100%;
  min-height: 50px;
  background-color: #252a30;
  color: #F0F0F0;
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.nav-top:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #ff0000;
}


.nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #F0F0F0;
}



.phone {
        color: #fdc40f;
        font-size: 42px;
}

.phone:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #ff0000;
}


.car {
    background-image: url(../pic/redcar.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size:  cover;
    width: 100%;
    min-height: 540px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.info-car-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
    text-align: center;
    margin-right: 40px;
}

.logo {
  background-image: url(../pic/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 113px;
    width: 166px;
}

.cer-info-1 {
  font-size: 21px;
  color: #F0F0F0;
}

.cer-info-2 {
  font-size: 28px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.cer {
  font-size: 32px;
  font-weight: bold;
  color: #fdc40f;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F0F0F0;
  background-color: #eb2428;
  padding: 15px 25px;
  border-radius: 3px;
}



.glow-on-hover {
 
  border: none;
  outline: none;
  
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

/* .glow-on-hover:active {
  color: #000
} */

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






.work-type {
  width: 100%;
  min-height: 620px;
  background-image: url(../pic/back2.png); 
  background-repeat: no-repeat;
  padding-top: 100px;
  overflow: hidden;
}

.work {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.red-text {
  font-size: 50px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.wrap-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 450px;
  padding-left: 40px;
}

.head2 {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scale {
  background-image: url(../pic/tarif.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 708px;
  height: 244px;
  
}

.chess {
  background-image: url(../pic/chess.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 275px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.info {
  width: 420px;
}

.info-item-uppercase {
  font-size: 39px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
  text-align: center;
}

.info-item {
  font-size: 39px;
  font-weight: bold;
  color: #F0F0F0;
  padding-bottom: 70px;
  text-align: center;
}

.wrap-social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.telegram {
  background-image: url(../pic/social/social3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  
}

.whatsup {
  background-image: url(../pic/social/social1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
}

.conditions {
  background-image: url(../pic/man.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.conditions-info {
  width:440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background: linear-gradient(90deg, rgba(0,0,0,0.4976584383753502) 0%, rgba(0,0,0,0.7665660014005602) 39%, rgba(0,0,0,1) 100%); */
  padding-top: 45px;
}

.conditions-lists {
  display: flex;  
  flex-direction: column;
  gap: 1rem;
}

.wrap-conditions {
  display: flex;
  align-items: center;
  height: 45px;
}

.cond {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.conditions-item-red {
  font-size: 60px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.conditions-item {
  font-size: 25px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.check2 {  
  width: 30px;
  height: 25px;
}

.wrap-check {
  height: 30px;
  display: flex;
}

.pb {
  padding-bottom: 40px;
}

.button-condition {
  font-size: 23px;
  color: #252a30;
  background-color: #fdc40f;
  padding: 10px;
  border-radius: 3px;
}

.girl-conditions {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background: linear-gradient(90deg, rgba(0,0,0,0.4976584383753502) 0%, rgba(0,0,0,0.7665660014005602) 39%, rgba(0,0,0,1) 100%);
}

.girl {
  background-image: url(../pic/conditions/Layer98.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 970px;
  height: 500px;
}

.girl-header {
  font-size: 31px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.girl-header-red {
  font-size: 31px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.list-item {
  font-size: 23px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.exp-1 {
  text-align: center;
  width: 100%;
  min-height: 200px;
  padding-top: 70px;
}

.exp-header {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.exp-header-orange {
  font-size: 50px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.exp-chess-2 {
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 84px;
  text-align: center;
}

.cond-heder {
  text-align: center;
}

.wrap-cond {
  margin: 0 auto;
  width: 960px;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.header-icon {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.cond-text {
  font-size: 23px;
  font-weight: 400;
  color: #fdc40f;
  text-transform: uppercase;
  padding: 0;
}

.icons {

  text-align: center;
  width: 230px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.icon-pig {
  background-image: url(../pic/profit/profit1.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-can {
  background-image: url(../pic/profit/profit2.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-lic {
  background-image: url(../pic/profit/profit3.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-mans {
  background-image: url(../pic/profit/profit4.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-man {
  background-image: url(../pic/profit/profit5.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-gbox {
  background-image: url(../pic/profit/profit6.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-shield {
  background-image: url(../pic/profit/profit7.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-car {
  background-image: url(../pic/profit/profit8.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

/* .swiper {
    height: auto;
   }
   
    */ 
.fit {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}


.payment-1 {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.check {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.address {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.block-orang {
  font-size:37px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.block-red {
  font-size:37px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.footer-contacts {
  font-size:47px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
  padding-left: 10px;
}

.footer-address-element {
  font-size:25px;
  color: #F0F0F0;
}

.email-link {
  font-size:28px;
  font-weight: bold;
  color: #fdc40f;
}

.email-link:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color:#eb2428;
}


.phone-footer {
  font-size: 28px;
  font-weight: bold;
  color: #fdc40f;
}

.phone-footer:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #eb2428;
}

.slider-h {
  margin: 0;
  padding-top: 65px;
  font-size: 42px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.slider-h-orangh {
  font-size: 42px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.slider-header {
  text-align: center;
  width: 100%;
  min-height: 170px;
  background-color: black;
  color: #fdc40f;
  
}

.slider {
  width: 100%;
  height: 700px;
  background-image: url(../pic/chess_back.png);
  background-repeat: no-repeat;

}


.address-block {
  width: 100%;
  min-height: 800px;
  background-image: url(../pic/back.png);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

/* .hover-link {
  color: wheat;
} */

.hover-link:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color:#eb2428;
}

.wheat {
  color: #fdc40f;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  padding-top: 140px;
}

.footer-chess {
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.footer-element-1 {
  width: 280px;
  height: 300px;
}

.footer-element-2 {
  width: 530px;
  height: 300px;
  border-left:  2px solid wheat;
  padding-left: 15px;
}

.innerelements {
  width: 520px;
}

.footer-element-3 {
  width: 375px;
  height: 300px;
}




/* media  */



/* @media(max-width: 2778px){

{ */


/* @media(max-width: 2550px)
{ */


/* @media(max-width: 1600px){
{ */


/* @media(max-width: 1366px){
{ */


/* @media(max-width: 1284px){
{ */

/* @media(max-width: 1242px){
{ */


/* @media(max-width: 1242px){
{ */


@media(max-width: 1179px) {
.container-main{
width: 1078px;}

}


@media(max-width: 1170px) {
.container-main{
width: 1169px;}


}


@media(max-width: 1080px){
  .container-main{
    width: 1079px;}

    .info-car-block{
      margin-right: 0;
    }

    .scale {
      height: 225px;
    }

    .girl-header {
      font-size: 26px;
    }

    .girl-header-red {
      font-size: 26px;
    }

    .list-item {
      font-size: 21px;
    }

    .footer-contacts {
      font-size: 42px;
    }

    .footer-address-element {
      font-size: 22px;
    }

    .footer-element-1 {
      width: 250px;
    }
    
    .footer-element-2 {
      width: 450px;
      
     
    }
    
    .innerelements {
      width: 435px;
    }
    
  }


@media(max-width: 1024px){
  .container-main{
    width: 1023px;}


}



@media(max-width: 1000px) {
  .container-main{
    width: 999px;}

}



@media(max-width: 840px) {
  .container-main{
    width: 839px;}

}



/* @media(max-width: 836px) {
{ */


/* @media(max-width: 828px)
{ */


/* @media(max-width: 768px){
{ */


/* @media(max-width: 750px){
{ */


/* @media(max-width: 600px) {
{ */



/* @media(max-width: 592px){
{ */



/* @media(max-width: 576px) {
{ */


/* @media(max-width: 541px){
{ */


/* @media(max-width: 460px) {
{ */


/* @media(max-width: 420px) {
{ */


/* @media(max-width: 360px)
{ */