
  * {
    font-family: 'Roboto', sans-serif;
    /* font-size: 1rem; */
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid #f00; */
    /* text-shadow: 6px 1px 5px #969696; */

  }
  
/*   .up-button {
    position: fixed;
    bottom: 200px;
    right: 500px;
    width: 15px;
    cursor: pointer;
    opacity: 0.2;
    z-index: 9000;
  }
  
  .up-button:hover {
    -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
    opacity: 1;
  } 
  
  .up-img {
    width: 55px;
  } */




  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


p {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
a {
  text-decoration: none;
  cursor: pointer;
}
  
html {
  scroll-behavior: smooth;
   
}
  
body {
    background-color: black;
}

.upbtn {
  z-index: 9999;
  width: 100%;
  height: 16px;
  color: #252a30;
  position: fixed;
  bottom: -80px;
  cursor: pointer;
  background: #ff0000;
  transition: all .3s ease-in-out;
}

.upbtn:before {
  content: "";
  transition: all .3s ease-in-out;
  z-index: 9999;
  
  width: 100px;
  height: 100px;
  border: 16px solid #ff0000;
  position:relative;
  bottom:10px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
  display:block;
  transform: rotate(45deg);
  background: #252a30;
}

.upbtn:hover {
  height: 20px;
}

.upbtn:hover:before {
bottom:14px;
}



h2 {
  margin: 0;
  padding: 0;
}

.container-main {
 width: 1200px;
 overflow: hidden;
 height: auto;
/* padding: 5px; */
 margin: 0 auto;
 background-color: #252a30;
}

.nav-container {
  width: 100%;
  height: 110px;
}

.logo-car {
  background-image: url(../pic/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 166px;
  transition: all 3s;
   
}

.logo-car:hover {
  transform: rotate(1080deg);
}

.nav-top {
  width: 100%;
  min-height: 50px;
  background-color: #252a30;
  color: #F0F0F0;
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.nav-top:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #ff0000;
}


.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F0F0F0;
}



.phone {
        color: #fdc40f;
        font-size: 42px;
}

.phone:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #ff0000;
}


.car {
    background-image: url(../pic/redcar.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size:  cover;
    width: 100%;
    min-height: 540px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.info-car-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    text-align: center;
    margin-right: 40px;
}

.mb2 {
  margin-bottom: 20px;
}

.logo {
  background-image: url(../pic/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 113px;
    width: 166px;
}

.cer-info-1 {
  font-size: 21px;
  color: #F0F0F0;
}

.cer-info-2 {
  font-size: 28px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.cer {
  font-size: 32px;
  font-weight: bold;
  color: #fdc40f;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F0F0F0;
  background-color: #eb2428;
  padding: 15px 25px;
  border-radius: 3px;
}



.glow-on-hover {
 
  border: none;
  outline: none;
  
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

/* .glow-on-hover:active {
  color: #000
} */

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






.work-type {
  width: 100%;
  min-height: 620px;
  background-image: url(../pic/back2.png); 
  background-repeat: no-repeat;
  padding-top: 100px;
  overflow: hidden;
}

.work {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.red-text {
  font-size: 50px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.wrap-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 450px;
  padding-left: 40px;
}

.head2 {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scale {
  background-image: url(../pic/tarif.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 708px;
  height: 244px;
  
}

.chess {
  background-image: url(../pic/chess.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 275px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.info {
  width: 420px;
}

.info-item-uppercase {
  font-size: 39px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
  text-align: center;
}

.info-item {
  font-size: 39px;
  font-weight: bold;
  color: #F0F0F0;
  padding-bottom: 70px;
  text-align: center;
}

.wrap-social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.telegram {
  background-image: url(../pic/social/social3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  
}

.whatsup {
  background-image: url(../pic/social/social1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
}

.conditions {
  background-image: url(../pic/man.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.conditions-info {
  width:440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background: linear-gradient(90deg, rgba(0,0,0,0.4976584383753502) 0%, rgba(0,0,0,0.7665660014005602) 39%, rgba(0,0,0,1) 100%); */
  padding-top: 45px;
}

.conditions-lists {
  display: flex;  
  flex-direction: column;
  gap: 1rem;
}

.wrap-conditions {
  display: flex;
  align-items: center;
  height: 45px;
}

.cond {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.conditions-item-red {
  font-size: 60px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.conditions-item {
  font-size: 25px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.check2 {  
  width: 30px;
  height: 25px;
  margin-right: 10px;
}

.wrap-check {
  height: 30px;
  display: flex;
}

.pb {
  padding-bottom: 40px;
}

.button-condition {
  font-size: 23px;
  color: #252a30;
  background-color: #fdc40f;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 3px;
}

.girl-conditions {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  background: linear-gradient(90deg, rgba(0,0,0,0.4976584383753502) 0%, rgba(0,0,0,0.7665660014005602) 39%, rgba(0,0,0,1) 100%);
}

.girl {
  background-image: url(../pic/conditions/Layer98.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 970px;
  height: 500px;
}

.girl-header {
  font-size: 31px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.girl-header-red {
  font-size: 31px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.list-item {
  font-size: 23px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.exp-1 {
  text-align: center;
  width: 100%;
  min-height: 200px;
  padding-top: 70px;
}

.exp-header {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.exp-header-orange {
  font-size: 50px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.exp-chess-2 {
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 84px;
  text-align: center;
}

.cond-heder {
  text-align: center;
}

.wrap-cond {
  margin: 0 auto;
  width: 960px;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.header-icon {
  font-size: 50px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.cond-text {
  font-size: 23px;
  font-weight: 400;
  color: #fdc40f;
  text-transform: uppercase;
  padding: 0;
}

.icons {

  text-align: center;
  width: 230px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.icon-pig {
  background-image: url(../pic/profit/profit1.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-can {
  background-image: url(../pic/profit/profit2.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-lic {
  background-image: url(../pic/profit/profit3.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-mans {
  background-image: url(../pic/profit/profit4.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-man {
  background-image: url(../pic/profit/profit5.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-gbox {
  background-image: url(../pic/profit/profit6.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-shield {
  background-image: url(../pic/profit/profit7.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

.icon-car {
  background-image: url(../pic/profit/profit8.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 60px 0px;
}

/* .swiper {
    height: auto;
   }
   
    */ 
.fit {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}


.payment-1 {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.check {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.address {
  font-size:37px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.block-orang {
  font-size:37px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.block-red {
  font-size:37px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
}

.footer-contacts {
  font-size:47px;
  font-weight: bold;
  color: #eb2428;
  text-transform: uppercase;
  padding-left: 10px;
}

.footer-address-element {
  font-size:25px;
  color: #F0F0F0;
}

.email-link {
  font-size:28px;
  font-weight: bold;
  color: #fdc40f;
}

.email-link:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color:#eb2428;
}


.phone-footer {
  font-size: 28px;
  font-weight: bold;
  color: #fdc40f;
}

.phone-footer:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #eb2428;
}

.slider-h {
  margin: 0;
  padding-top: 65px;
  font-size: 42px;
  font-weight: bold;
  color: #F0F0F0;
  text-transform: uppercase;
}

.slider-h-orangh {
  font-size: 42px;
  font-weight: bold;
  color: #fdc40f;
  text-transform: uppercase;
}

.slider-header {
  text-align: center;
  width: 100%;
  min-height: 170px;
  background-color: black;
  color: #fdc40f;
  
}

.slider {
  width: 100%;
  height: 700px;
  background-image: url(../pic/chess_back.png);
  background-repeat: no-repeat;

}

.slider-wrapper {
  height: 700px;  
}

.address-block {
  width: 100%;
  min-height: 800px;
  background-image: url(../pic/back.png);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

/* .hover-link {
  color: wheat;
} */

.hover-link:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color:#eb2428;
}

.wheat {
  color: #fdc40f;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  padding-top: 140px;
}

.footer-chess {
  background-image: url(../pic/chess_big.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.footer-element-1 {
  width: 280px;
  height: 300px;
}

.footer-element-2 {
  width: 530px;
  height: 300px;
  border-left:  2px solid wheat;
  padding-left: 15px;
}

.innerelements {
  width: 520px;
}

.footer-element-3 {
  width: 375px;
  height: 300px;
}




/* media  */


/* @media(max-width: 2778px) {
} */

/* @media(max-width: 2550px) {
} */

/* @media(max-width: 1600px) {
} */

/* @media(max-width: 1366px) {
} */

/* @media(max-width: 1284px) {
} */

/* @media(max-width: 1242px) {
} */

/* @media(max-width: 1242px) {
} */

@media(max-width: 1179px) {
  .container-main {
    width: 1078px;
  }
}

@media(max-width: 1170px) {
  .container-main {
    width: 1169px;
  }

  .phone {
    font-size: 40px;
  }

  .footer-element-1 {
    width: 220px;
  }

  .footer-contacts {
    font-size: 37px;
  }

  .footer-element-2 {
    width: 510px;
    padding-left: 30px;
  }

  .footer-element-3 {
    width: 400px;
  }
}

@media(max-width: 1080px) {
  .container-main {
    width: 1079px;
  }

  .nav-list {
    justify-content: left;
    gap: 24px;
  }

  .logo-car {
    width: 130px;
  }

  .work {
    font-size: 48px;
  }

  .red-text {
    font-size: 48px;
  }

  .info-car-block{
    margin-right: 0;
  }

  .pb2 {
    padding-bottom: 20px;
  }

  .scale {
    height: 225px;
  }

  .girl-header {
    font-size: 25px;
  }

  .girl-header-red {
    font-size: 25px;
  }

  .list-item {
    font-size: 20px;
  }

  .footer-element-1 {
    width: 225px;
  }

  .footer-contacts {
    font-size: 37px;
  }

  .footer-element-2 {
    width: 450px;
    padding-left: 25px;
  }

  .innerelements {
    width: 419px;
  }

  .footer-address-element {
    font-size: 22px;
  } 

  .footer-element-3 {
    width: 390px;
  }
}

@media(max-width: 1024px) {
  .container-main{
    width: 1023px;}

  .nav-list {
      justify-content: left;
      gap: 24px;
    }

  .phone {
    font-size: 37px;
  }

  .logo {
    width: 130px;
  }

  .nav-top {
    font-size: 25px;
  }

  .info-car-block {
    height: 460px;
    width: 390px;
    margin-right: 20px;
  }
  
  .car {
    background-size: 1270px;
    min-height: 485px;
  }

  .cer-info-1 {
    font-size: 23px;
  }

  .cer-info-2 {
    font-size: 25px;
  }

  .work-type {
    padding-top: 60px;
    min-height: 535px;
  }

  .work {
    font-size: 45px;
  }

  .red-text {
    font-size: 45px;
  }

  .scale {
    height: 213px;
  }

  .conditions-info {
    width: 390px;
  }

  .exp-1 {
    padding-top: 40px;
    min-height: 110px;
  }

  .conditions-item {
    font-size: 24px;
  }

  .girl-conditions {
    min-height: 445px;
  }

  .girl {
    width: 870px;
    height: 445px;
  }

  .girl-header {
    font-size: 24px;
  }

  .girl-header-red {
    font-size: 24px;
  }

  .cond {
    width: 50px;
    height: 50px;
  }

  .list-item {
    font-size: 20px;
  }

  .wrap-cond {
    min-height: 510px;
  }

  .slider-h {
    padding-top: 40px;
  }

  .slider-header {
    min-height: 130px;
  }
 
  .address-block {
    min-height: 600px;
  }

  .footer-wrap {
    justify-content: left;
  }
  .footer-contacts {
    font-size: 36px;
  }

  .footer-address-element {
    font-size: 20px;
  }

  .footer-element-1 {
    width: 230px;
    height: 250px;
  }
  
  .footer-element-2 {
    width: 420px;
    height: 250px;
  }
  
  .footer-element-3 {
    width: 340px;
    height: 250px;
  }

  .innerelements {
    width: 435px;
  }

  .email-link {
    font-size: 25px;
  }
}

@media(max-width: 1000px) {
  .container-main{
    width: 999px;}

    .scale {
      height: 208px;
  }

  .info-item-uppercase {
    font-size: 37px;
  }

  .info-item {
    font-size: 36px;  
  }

  .cond {
    width: 47px;
    height: 47px;
  }

  .list-item {
    font-size: 19px;
  }

  .slider {
    background-size: 1610px;
    height: 587px;
  }
}

@media(max-width: 840px) {
  .container-main {
    width: 839px;
  }

  .nav-container {
    height: 95px;
 }

  .nav-list {
    justify-content: left;
    gap: 12px;
  }

  .phone {
    font-size: 32px;
  }

  .logo-car {
    width: 90px;
  }

  .nav-top {
    font-size: 24px;
  }

  /* .phone {
    font-size: 30px;
  } */

  .logo {
    width: 125px;
    height: 80px;
  }

  .car {
    background-size: 1155px;
    background-position: -50px 0;
    min-height: 445px;
  }

  .info-car-block {
    height: 410px;
    width: 415px;
    margin-right: 5px;
    gap: 1rem;
  }

  .work-type {
    padding-top: 25px;
  } 

  .work {
    font-size: 38px;
  }

  .red-text {
    font-size: 38px;
  }

  .scale {
    height: 173px;
  }
  .wrap-scale {
    min-height: 320px;
  }

  .chess {
    padding-bottom: 70px;
  }

  .info-item-uppercase {
    font-size: 30px;
  }

  .info-item {
    font-size: 28px;
    padding-bottom: 40px;
  }

  .work-type {
    min-height: 410px;
  }

  .conditions {
    height: 480PX;
  }

  .conditions-info {
    width: 325px;
    padding-top: 35px;
    gap: 8px;
  }

  .conditions-item-red {
    font-size: 48px;
    padding-bottom: 20px;
  }

  .check2 {
    width: 25px;
    height: 20px;
  }

  .conditions-item {
    font-size: 20px;
  }

  .exp-header {
    font-size: 40px;
  }

  .exp-header-orange {
    font-size: 40px;
  }

  .girl-conditions {
    min-height: 381px;
  }

  .girl {
    width: 715px;
    height: 380px;
  }

  .girl-header {
    font-size: 23px;
  }

  .girl-header-red {
    font-size: 23px;
  }

  .list-item {
    font-size: 15px;
  }

  .conditions-lists {
    gap: 8px;
  }

  .header-icon {
    font-size: 45px;
  }

  .wrap-cond {
    width: 800px;
    min-height: 420px;
  }

  .icons {
    width: 170px;
    height: 200px;
  }

  .icon-pig {
    background-position: 30px 0px;
  }
  
  .icon-can {
    background-position: 30px 0px;
  }
  
  .icon-lic {
    background-position: 30px 0px;
  }
  
  .icon-mans {
    background-position: 30px 0px;
  }
  
  .icon-man {
    background-position: 30px 0px;
  }
  
  .icon-gbox {
    background-position: 30px 0px;
  }
  
  .icon-shield {
    background-position: 30px 0px;
  }
  
  .icon-car {
    background-position: 30px 0px;
  }

  .cond-text {
    font-size: 17px;
  }

  .slider {
    background-size: 1460px;
    height: 533px;
  }

  .slider-h {
    font-size: 37px;
  }

  .slider-h-orangh {
    font-size: 37px;
  }

  .payment-1 {
    font-size: 30px;
  }

  .address {
    font-size: 30px;
  }

  .block-orang {
    font-size: 30px;
  }

  .block-red {
    font-size: 30px;
  }

  .footer-element-3 {
    margin-left: 230px;
    border-left: 2px solid #F5DEB3;
    padding-left: 25px;
    height: 150px;
  }
}

@media(max-width: 836px) {
  .container-main {
    width: 835px;
  }


  .footer-wrap {
    flex-direction: column;
  }

  .footer-element-1 {
    width: 205px;
    height: 50px;
  }

  .footer-wrap {
    padding-top: 125px;
}

  .footer-element-2 {
    height: 390px;
    width: 630px;
  }

  .innerelements {
    width: 630px;
}

  .footer-element-3 {
    margin-left: 0;
    width: 630px;
  }

  .footer-address-element {
    font-size: 32px;
  }

  .email-link {
    font-size: 32px;
  }

  .phone-footer {
    font-size: 32px;
  }
}

@media(max-width: 828px) {

  .container-main {
    width: 827px;
  }

  .scale {
    height: 170px;
  }

  .footer-wrap {
    flex-direction: column;
  }
}

@media(max-width: 768px) {

  .container-main {
    width: 767px;
  }

  .nav-container {
    height: 200px;
}

  .logo-car {
    width: 125px;
    margin-left: 10px;
  }

  .nav-top {
    font-size: 32px;
  }

  .phone {
    font-size: 60px;
    margin-left: 150px;
  }

  .nav-list {
    gap: 15px;
    flex-wrap: wrap;
  }

  .car {
    background-size: 1210px;
    background-position: 0px 0;
    min-height: 466px;
  }

  .info-car-block {
    background: linear-gradient(90deg, rgba(0,0,0,0.7681197478991597) 72%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%);   
      min-height: 465px;
      width: 100%;
      gap: 0rem;
  }

  .cer-info-3 {
    margin-bottom: 15px;
  }

  .work {
    font-size: 35px;
  }

  .red-text {
    font-size: 35px;
  }

  .scale {
    height: 156px;
  }

  .wrap-cond {
    width: 770px;
  }

  .slider {
    background-size: 1340px;
    height: 489px;
  }

  .footer-wrap {
    flex-direction: column;
  }
}

@media(max-width: 750px) {
  .container-main {
    width: 749px;
  }

  .nav-top {
    font-size: 31px;
  }

  .scale {
    height: 150px;
  }

  .wrap-cond {
    width: 725px;
  }

  .slider {
    background-size: 1280px;
    height: 467px;
  }

  .footer-wrap {
    flex-direction: column;
  }
}

@media(max-width: 600px) {

  .container-main {
    width: 599px;
  }

  .logo-car {
    width: 100px;
  }

  .nav-top {
    font-size: 24px;
  }

  .phone {
    font-size: 53px;
    margin-left: 140px;
  }

  .info-car-block {
    margin-right: 0;
  }

  .work {
    font-size: 28px;
  }

  .red-text {
    font-size: 28px;
  }

  .wrap-scale {
    flex-direction: column;
    padding-left: 0px;
  }

  .work-type {
    min-height: 510px;
  }

  .scale {
    background-size: contain;
    height: 210px;    
    width: 538px;
  }

  .chess {   
    background-size: contain;
    height: 40px;
    width: 430px;
    padding-bottom: 100px;
    margin: 0;
  }

  .info {
    margin-bottom: 20px;
  }

  .info-item-uppercase {
    font-size: 40px;
  }

  .info-item {
    font-size: 38px;
  }

  .conditions-info {
    width: 599px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7681197478991597) 72%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 1) 100%);
    padding-left: 95px;
  }

  .conditions-item-red {
    font-size: 60px;
  }

  .button-condition {
    font-size: 25px;
    padding: 10px 40px;
  }


  .conditions-item {
    font-size: 30px;
  }

  .check2 {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .pb {
    padding-bottom: 15px;
  }

  .exp-1 {
    padding-top: 10px;
  }

  .girl {
    width: 440px;
    z-index: 100;
  }

  .conditions-lists {
    z-index: 200;
    opacity: 1;
  }

  .wrap-cond {
    width: 460px;
    justify-content: space-around;
    min-height: 745px;
  }  

  .icons {
    width: 200px;
    height: 170px;
    background-position: 50px 0px;
  }

  .cond-text {
    font-size: 20px;
    padding-left: 5px;
  }

  .slider {
    background-size: 1040px;
    height: 380px;
  }

  .payment-1 {
    font-size: 28px;
  }

  .block-orang {
    font-size: 28px;
  }

  .block-red {
    font-size: 28px;
  }

  .footer-wrap {
    flex-direction: column;
  }

  .footer-element-2 {
    height: 350px;
  }

  .footer-address-element {
    font-size: 29px;
  }
}

@media(max-width: 592px) {
  .container-main {
    width: 591px;
  }

  .nav-top {
    font-size: 23px;
  }

  .phone {
    margin-left: 110px;
  }

  .footer-wrap {
    flex-direction: column;
  }
}

@media(max-width: 576px) {

  .container-main {
    width: 575px;
  }

  .phone {
    margin-left: 85px;
  }

  .head2 {
    text-align: center;
  }

  .work {
    font-size: 32px;
  }

  .red-text {
    font-size: 32px;
  }

  .footer-wrap {
    flex-direction: column;
  }

  .footer-address-element {
    font-size: 28px;
  }

}

@media(max-width: 541px) {
  .container-main {
    width: 540px;
  }

  .footer-wrap {
    flex-direction: column;
  }


}

@media(max-width: 460px) {

  .container-main {
    width: 540px;
  }

  .nav-list {
    gap: 6px;
  }

  .slider {
    background-size: 930px;
    height: 340px;
  }

  .footer-element-1 {
    width: 350px;
  }

  .footer-contacts {
    font-size: 47px;
  }

  .footer-address-element {
    font-size: 26px;
  }

  .footer-element-2 {
    height: 320px;
  }
}

@media(max-width: 420px) {

  .container-main {
    width: 540px;
  }

  .conditions-info {
    padding-left: 60px;
  }

}

@media(max-width: 360px) {

  .container-main {
    width: 540px;
  }
  
  .footer-wrap {
    flex-direction: column;
  }
}